@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');



body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    padding: 45px 0;
    justify-content: space-between;
    width: 100%;

}

#logo{
    width: 61.09px;
    height: 19px;
}

nav{
    align-items: center;
}

header a{
    padding: 43px 18px 0 18px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

header a:hover{
    color: #0065FC;
    border-top: solid #0065FC 3px;
}

#hebergements, #populaires{
    padding: 20px;
}

h2{
    font-size: 22px;
}

.trouver-hebergement h2{
    margin: 18px 0 10px 0;
}

form{
    display: flex;
    width: 360px;
    margin: 20px 0 30px 0;
}

button{
    font-weight: bold;
}


.fa-location-dot{
    vertical-align: middle;
    padding: 16px 18px 15px 18px;
    background-color: #f2f2f2;
    border: solid #f2f2f2 1px;
    border-radius: 15px 0 0 15px;
    font-size: 18px;
}

input{
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #f2f2f2;
    text-align: center;
    outline: none;
    font-size: 18px;
}

::placeholder{
    font-weight: bold;
    color: black;
    padding-right: 20px;
}

#rechercher{
    color: white;
    background-color: #0065FC;
    border: solid 1px #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 14px 16px;
    font-size: 18px;
    gap: 10px;
    width: 132px;
    height: 49px;
}

.fa-magnifying-glass{
    visibility: hidden;
}

.container-filtres{
    margin-bottom: 35px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    gap: 30px;
    align-items: center;
}

.filtre{
    width: auto;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    background-color: #FFFFFF;
    padding: 0 20px;
    font-size: 17px;
    white-space: nowrap;
    text-align: center;
}

.icones-filtres{
    color: #0065FC;
    margin-right: 5px;
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.filtre:hover{
    background-color: #DEEBFF;
}

.information-logements-disponibles{
    display: flex;
    margin: 40px 0 45px 0;
}

.fa-info{
    color: #0065FC;
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    padding: 8px 11px;
    margin-right: 10px;
    font-size: 10px;
    text-align: center;
}

.hebergements-et-populaires{
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0 auto;
}

.hebergements, .populaires{
    background-color: #f2f2f2;
}

.hebergements{
    height: 626px;
    width: 63%;
    border-radius: 20px;
}

.populaires{
    height: 625px;
    width: 30%;
    border-radius: 20px;
}

.container-hebergements{
    display: grid;
    grid-template-columns: 29% 29% 29%;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.carte-hebergements{
    width: 100%;
    height: 199px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: -2px 8px 8px 2px rgb(227, 227, 227);
}

.img-hebergements{
    width: 100%;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.description-hebergements{
    margin-left: 15px;
    width: 204px;
}

.description-hebergements p, .description-populaires p{
    margin: 6px 0;
    font-size: 14px;
}

.etoiles{
    display: flex;
    gap: 0.3px;
}

.fa-star{
    color:#0065FC;
    font-size: 12px;
}

.etoile-decoloree{
    color: #d9d9d9;
}

span{
    font-weight: bold;
}

.hebergements-et-populaires h2{
    margin: 20px 0 25px 15px;
}

#Afficher-plus{
    border: none;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin: 35px 0 0 20px;
    background: none;
}

.icone-titre-populaires{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-chart-line{
    margin-right: 21px;
    color: #0065FC;
    font-size: 18px;
}

.img-populaires{
    height: 144px;
    width: 40%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    vertical-align: middle;
}

.carte-populaires{
    height: 144px;
    width: 90%;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin: 0 auto 32.5px auto;
    box-shadow: -2px 8px 8px 2px rgb(227, 227, 227);
}

.description-populaires{
    display: inline-block;
    width: 169px;
    vertical-align: top;
    margin: 15px 0 0 10px;
}

.activites h2{
    margin: 60px 0 25px;
}

.container-activites{
    display: flex;
    justify-content: space-between;
}

.carte-activites{
    width: 21%;
    height: 445px;
    border-radius: 20px;
    box-shadow: -2px 8px 8px -4px rgb(227, 227, 227);
}

.img-activites{
    object-fit: cover;
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0 0;
}

.activites h4{
    margin: 15px 0 0 19px;
}

footer{
    background-color: #f2f2f2;
    margin-top: 65px;
    height: 225px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.colonnes-footer{
    display: flex;
    gap: 200px;
    margin-left: 40px;
}

.liste-footer{
    margin-top: 45px;
}

.liste-footer h3{
    margin-bottom: 20px;
}

footer li{
    list-style: none;
    margin-top: 12px;
}

footer a{
    text-decoration: none;
    color: black;
}

.cartes-cliquables{
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 992px) {

    .hebergements-et-populaires{
        display: block;
    }

    .hebergements{
        width: 100%;
    }

    .populaires{
        width: 100%;
        height: 278px;
    }

    .container-populaires{
        display: flex;
    }

    .carte-populaires{
        display: flex;
        width: 30%;
        height: 144px;
        align-items: center;
    }

    .img-populaires{
        width: 40%;
    }

    .description-populaires{
        width: 111px;
        height: 57px;
    }

    .description-populaires p{
        font-size: 12px;
    }

    .populaires{
        margin-top: 53px;
    }

    .populaires h4{
        width: 111px;
    }

    .titre-prix-carte-populaires{
        margin-bottom: 0;
    }

    .etoiles-populaires{
        vertical-align: bottom;
    }

    .carte-activites{
        width: 182px;
        height: 267px;
    }

    .img-activites{
        height: 211px;
    }

    .activites h4{
        vertical-align: super;
    }

    .filtres{
        text-align: center;
    }

    footer{
        width: 879.65px;
    }

    .colonnes-footer{
        gap: 40px;
    }

}