@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


body{
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.cartes-cliquables{
    text-decoration: none;
    color: inherit;
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    padding: 45px 0;
    justify-content: space-between;
    width: 90%;
}

#logo{
    width: 61.09px;
    height: 19px;
}

nav{
    align-items: center;
}

header a{
    padding: 43px 18px 0 18px;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}

header a:hover{
    color: #0065FC;
    border-top: solid #0065FC 3px;
}

h2{
    font-size: 22px;
}

#trouver-hebergement h2{
    margin: 18px 0 10px 0;
}

form{
    display: flex;
    width: 360px;
    margin: 20px 0 30px 0;
}

button{
    font-weight: bold;
}


.fa-location-dot{
    vertical-align: middle;
    padding: 16px 18px 15px 18px;
    background-color: #f2f2f2;
    border: solid #f2f2f2 1px;
    border-radius: 15px 0 0 15px;
    font-size: 18px;
}

input{
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #f2f2f2;
    text-align: center;
    outline: none;
    font-size: 18px;
}

::placeholder{
    font-weight: bold;
    color: black;
    padding-right: 20px;
}

#rechercher{
    color: white;
    background-color: #0065FC;
    border: solid 1px #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 14px 16px;
    font-size: 18px;
    gap: 10px;
    width: 132px;
    height: 49px;
}

.fa-magnifying-glass{
    visibility: hidden;
}

.filtres{
    margin-bottom: 35px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    gap: 30px;
    align-items: center;
}

#container-filtres{
    display: flex;
    width: 90%;
    gap: 30px;
}

#container-filtres button{
    width: auto;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    background-color: #FFFFFF;
    padding: 0 20px;
    font-size: 17px;
    white-space: nowrap;
    text-align: center;
}

.icones-filtres{
    color: #0065FC;
    margin-right: 15px;
    font-size: 20px;
}

#container-filtres button:hover{
    background-color: #DEEBFF;
}

.information-logements-disponibles{
    display: flex;
    margin: 40px 0 45px 0;
}

.fa-info{
    color: #0065FC;
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    padding: 8px 11px;
    margin-right: 10px;
    font-size: 10px;
    text-align: center;
}

#hebergements-et-populaires{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 90%;
}

#hebergements, #populaires{
    background-color: #f2f2f2;
    padding: 20px;
}

#hebergements{
    height: 626px;
    width: 65%;
    border-radius: 20px;
}

#populaires{
    height: 625px;
    width: 30%;
    border-radius: 20px;
}

#container-hebergements{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.carte-hebergements{
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: -2px 8px 8px 2px rgb(227, 227, 227);
}

.img-hebergements{
    width: 100%;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.description-hebergements{
    margin-left: 15px;
    width: 90%;
}

.titre-prix-carte-hebergements{
    height: 60px;
}

.description-hebergements p, .description-populaires p{
    margin-top: 6px;
    font-size: 14px;
}

.etoiles{
    display: flex;
    gap: 0.3px;
}

#hebergements .etoiles{
    padding: 7px 0 5px;
}

.fa-star{
    color:#0065FC;
    font-size: 12px;
}

.etoile-decoloree{
    color: #d9d9d9;
}

span{
    font-weight: bold;
}

#hebergements-et-populaires h2{
    margin: 20px 0 25px 15px;
}

#Afficher-plus{
    border: none;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin: 35px 0 0 20px;
    background: none;
}

.icone-titre-populaires{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-chart-line{
    margin-right: 21px;
    color: #0065FC;
    font-size: 18px;
}

.img-populaires{
    height: 144px;
    width: 40%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    vertical-align: middle;
}

.carte-populaires{
    height: auto;
    width: 100%;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin: 0 auto 32.5px auto;
    box-shadow: -2px 8px 8px 2px rgb(227, 227, 227);
}

.description-populaires{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 15px 0 0 5px;
}

.titre-prix-carte-populaires{
    height: 105px;
}

#activites{
    width: 90%;
}
#activites h2{
    margin: 60px 0 25px;
}

#container-activites{
    display: flex;
    justify-content: space-between;
}

.carte-activites{
    width: 21%;
    height: 445px;
    border-radius: 20px;
    box-shadow: -2px 8px 8px -4px rgb(227, 227, 227);
}

.img-activites{
    object-fit: cover;
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0 0;
}

.titre-carte-activites{
    display: flex;
    height: 45px;
    align-items: center;
}

#activites h4{
    margin-left: 15px;
}

footer{
    background-color: #f2f2f2;
    margin-top: 65px;
    height: 225px;
    width: 90%;
    padding: 45px 55px 45px 35px;
}

footer ul{
    padding: 0;
}

#container-colonnes-footer{
    display: flex;
    gap: 10%;
}

.titre-liste-footer{
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: bold;
}

footer li{
    list-style: none;
    margin-top: 12px;
}

footer a{
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 992px) {

    body{
        max-width: 992px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;        
    }

    header{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    #trouver-hebergement{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .filtres{
        width: 100%;
        height: 70px;
        gap: 10px;
    }

    .icones-filtres{
        margin-right: 10px;
    }

    #container-filtres{
        text-align: center;
        gap: 7px;
    }

    #container-filtres button{
        padding: 0 13px;
    }

    #hebergements-et-populaires{
        display: block;
        width: 100%;
    }

    #hebergements{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    #container-hebergements{
        gap: 20px;
        grid-template-columns: 31% 31% 31%;
    }

    .description-hebergements{
        width: 200px;
    }

    #populaires{
        width: 95%;
        height: 278px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 53px;
    }

    #container-populaires{
        display: flex;
        gap: 15px;
    }

    .carte-populaires{
        display: flex;
        height: 144px;
        align-items: center;
        margin: 0 auto;
    }

    .img-populaires{
        width: 40%;
    }

    .description-populaires{
        margin: 15px 0 0 0;
    }

    .titre-prix-carte-populaires{
        height: 105px;

    }

    .titre-prix-carte-populaires p{
        font-size: 13px;
    }

    .titre-prix-carte-populaires{
        margin-bottom: 0;
    }

    .etoiles-populaires{
        position: absolute;

    }

    #activites{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .carte-activites{
        width: 182px;
        height: 267px;
    }

    .img-activites{
        height: 211px;
    }

    .titre-carte-activités{
        height: 56px;
    }

    footer{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }


}

@media screen and (max-width:768px) {

    body{
        max-width: 768px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }

    header{
        display: block;
        text-align: center;
        width: 95%;
    }

    #logo{
        margin-bottom: 40px;
    }

    header a{
        padding-bottom: 20px;
    }

    header a:hover{
        color: #0065FC;
        border-bottom: solid #0065FC 3px;
        border-top: none;
    }

    #trouver-hebergement{
        margin-left: auto;
        margin-right: auto;
    }

    #trouver-hebergement h2{
        width: 100%;
    }

    form {
        width: 90%;
    }

    form input{
        width: 100%;
    }

    form span{
        display: none;
    }

    form .fa-magnifying-glass{
        visibility: visible;
        flex: none;
    }

    #rechercher{
        display: flex;
        flex-direction: row;
        width: 20%;
        justify-content: center;
        height: 49px;
    }

    .filtres{
        display: block;
        height: auto;
    }

    #container-filtres{
        margin-top: 15px;
        justify-content: center;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #container-filtres button{
        font-size: 3vw;
        display: flex;
        align-items: center;
        width: auto;
    }

    .icones-filtres{
        font-size: 3vw;
    }

    .fa-info{
        -webkit-text-stroke: 1px #0065FC;
            border-radius: 50%;
            font-size: 10px;
    }

    #hebergements-et-populaires{
        display: flex;
        flex-direction: column-reverse;
    }

    #populaires{
        border-radius: 0;
        width: auto;
        height: auto;
    }

    #container-populaires{
        display: block;
        width: auto;
    }

    .carte-populaires{
        display: inline-block;
        margin-bottom: 20px;
    }

    #hebergements{
        border-radius: 0;
        background-color: #FFFFFF;
        height: auto;
        width: auto;
    }

    #container-hebergements{
        display: block;
    }

    .carte-hebergements{
        display: inline-block;
        margin-bottom: 20px;
    }

    #Afficher-plus{
        visibility: hidden;
    }

    #activites{
        height: auto;
    }

    #activites h2{
        width: 115px;
    }

    #container-activites{
        display: block;
    }

    .carte-activites{
        width: 100%;
        margin: 0 auto 20px;
    }

    footer{
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: auto;
        padding: 50px 0 0 30px;

    }

    #container-colonnes-footer{
        display: block;
    }

    .liste-footer{
        padding-bottom: 50px;
    }

}